.accounts-list {
  color: #eee;
  font-size: 16px;
  padding: 8px 8px 8px 15px;
}

.accounts-list-title {
  color: #777;
  font-weight: 300;
  font-size: 1em;
  padding: 10px 0;
}

.no-accounts-msg {
  color: #333;
}
