.adding-panel {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 658px;
  color: #eee;
  box-sizing: border-box;
  background: rgba(11, 11, 11, 0.99);
}

.panel-title {
  color: #444;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  padding: 5px 0 40px 10px;
}

.adding-panel input[type=text],
.adding-panel input[type=date],
.adding-panel input[type=number] {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: #999;
  padding: 0 10px;
  font-size: 1em;
  font-weight: 300;
  font-family: sans-serif;
  border: 1px solid #191919;
  border-radius: 3px;
}

.adding-panel input[type=text]::-webkit-input-placeholder,
.adding-panel input[type=date]::-webkit-input-placeholder,
.adding-panel input[type=number]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

.input-block {
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.input-block-textarea {
  height: 100px;
}

.input-block::after {
  content: "";
  display: table;
  clear: both;
}

.input-block div {
  display: inline-block;
  height: 30px;
}

.input-block .input-block-title {
  position: absolute;
  width: 130px;
  line-height: 30px;
  font-size: 1em;
  color: #999;
}

.input-block .input-block-field {
  position: absolute;
  left: 140px;
  width: 340px;
}

.input-block .input-block-field div {
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
  background: #222;
  border: 1px solid #444;
  padding: 0 8px;
  font-size: 1em;
}

.input-block .input-block-field div:hover {
  background: #333;
  border: 1px solid #777;
}

.input-block .input-block-field textarea {
  resize: none;
  box-sizing: border-box;
  width: 340px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  color: #999;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 300;
  font-family: sans-serif;
  border: 1px solid #191919;
  border-radius: 3px;
}

.input-block .radio-block-field {
  position: absolute;
  top: 3px;
  left: 140px;
  width: 291px;
}

.input-block .radio-block-field input[type=radio] {
  position: absolute;
  opacity: 0;
}

.input-block .radio-block-field input + span {
  display: inline-block;
  padding: 3px 7px;
  margin-right: 5px;
  font-size: 1em;
  background-color: #191919;
  color: rgb(255, 255, 255);
  transition: all 1s;
  border: 1px solid #222;
  border-radius: 3px;
  cursor: pointer;
}

.input-block .radio-block-field input:checked + span {
  background-color: #fff;
  color: rgb(44, 44, 44);
}

.input-block-check-button {
  position: absolute;
  top: 3px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #191919;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 3px;
}

/* Panel open/close button */

.panel-button {
  position: absolute;
  top: 0;
  right: 0;
}

.panel-button .close-button {
  box-sizing: border-box;
  border: 0;
  height: 30px;
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;
  background: rgba(11, 11, 11, 0.99);
  color: rgb(167, 48, 48);
}

.panel-button .close-button:hover {
  color: rgb(226, 70, 70);
}

.panel-button button i {
  cursor: pointer;
}

.form-footer {
  width: 480px;
}

.footer-button button {
  display: block;
  width: 100px;
  height: 50px;
  margin: 40px auto 0 auto;
  background: #299c46;
  border: 1px solid #191919;
  color: #eee;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 1em;
}

.footer-button button:hover {
  background: #1a7430;
  border: 1px solid #222;
  color: #fff;
}

.messangerMessage {
  padding-top: 20px;
  text-align: center;
}

.success {
  color: #299c46;
}

.error {
  color: #e64e28;
}
