.header {
  background: #151515;
  height: 40px;
}

.header i {
  margin: 10px 15px;
  color: #999;
  font-size: 20px;
}

.header button {
  background: #171717;
  border: 0;
  cursor: pointer;
  transition: 0.5s all;
}

.header button:hover {
  background: #222;
}
